@model IEnumerable<Business.DomainClasses.Transactions>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.transactionAccount.AccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.transactionAccount.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
        </tr>
    }

</table>
